<%- contentFor('main') %>
      <main>
          <div class="container">
              <div class="row cf">
                <div class="col-md-12" id="content">
                    <section id="intro">
                        <ul class="full">
                            <% for (canvase of canvasesObj) { %>
                                <li><a target="_blank" href="<%= canvase.images[0].resource['@id'] %>"><%= canvase.label %></a></li>
                            <% } %>
                        </ul>   
                    </section>
                </div>
              </div>
          </div>
      </main>